* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fondo*/
body {
  font-family: "Young Serif", serif !important;
  background-color: #c9b8a8 !important;
}

body {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(2, auto);
  gap: 3px;
}

.banner {
  position: relative;
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
}
.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

main section .carousel-inner {
  max-height: 40rem !important;
}
main section .carousel-inner img {
  height: 600px;
  object-fit: contain;
}

#intro {
  margin-top: 30px;
  margin-bottom: 50px;
}

.pie-pagina {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 25px !important;
  }
  .banner2 h1 {
    font-size: 25px !important;
  }
}
#intro2 {
  border-radius: 40px;
  padding: 5px;
  margin: 50px;
  background-color: rgb(232, 232, 247);
}

.card-bus {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.banner2 {
  position: relative;
}
.banner2 img {
  max-height: 40rem;
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill;
}
.banner2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.mapa-visitas {
  margin-top: 50px;
  margin-bottom: 30px;
}
.mapa-visitas h2 {
  text-align: center;
}
.mapa-visitas img {
  padding: 20px;
  object-fit: contain;
  width: 1500px;
  height: 800px;
}

.titulo {
  margin-top: 50px;
  text-align: center;
  font-size: 45px;
  border-radius: 90px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.062);
}

.top-turismo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.top-turismo h2 {
  text-align: center;
  margin-top: 50px;
  margin-left: 30px;
}
.top-turismo p {
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  width: 500px;
}
.top-turismo img {
  justify-content: center;
  margin: 30px;
  object-fit: fill;
  width: 500px;
  height: 300px;
}

.eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.eventos h2 {
  text-align: center;
  margin-top: 50px;
  margin-left: 30px;
}
.eventos p {
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  width: 500px;
}
.eventos img {
  justify-content: center;
  margin: 30px;
  object-fit: fill;
  width: 500px;
  height: 300px;
}

.resta-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resta-contenedor h2 {
  text-align: center;
  margin-top: 50px;
  margin-left: 30px;
}
.resta-contenedor p {
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  width: 500px;
}
.resta-contenedor img {
  justify-content: center;
  margin: 30px;
  object-fit: fill;
  width: 500px;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
