@import "../base/reutilizables";

.titulo{
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    border-radius: 90px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.062);
}

.top-turismo{
    @include lista_imagenes
}