#intro2{
    border-radius: 40px;
    padding: 5px;
    margin: 50px;
    background-color: rgb(232, 232, 247);
}


.card-bus{
    margin-top: 50px;
    display:flex;
    justify-content:space-evenly;


}


.banner2{
    position: relative;

    img {
        max-height: 40rem;
        display: block;
        width: 100%;
        height: auto;
        object-fit:fill;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight:bold ;
        color: white;
        text-shadow: 1px 1px 2px black;

    }

}

.mapa-visitas{
    margin-top: 50px;
    margin-bottom: 30px;

    h2{
        text-align: center;
    }

    img{
        padding: 20px;
        object-fit: contain;
        width: 1500px ;
        height: 800px ;
        


    }
}
