@import "../base/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*fondo*/
body{
    font-family: $fuente-predeterminada !important;
    background-color: #c9b8a8 !important;
}