
$color-primario: #007BFF;
$color-secundario: #FF9800;
$color-fondo: #4CAF50;
$color-texto: #666666;


$fuente-predeterminada:'Young Serif', serif;
$tamano-base: 16px;


$margen-pequeno: 10px;
$margen-mediano: 20px;
$margen-grande: 30px;
$relleno-pequeno: 5px;
$relleno-mediano: 10px;
$relleno-grande: 20px;


$borde: 1px solid #ccc;
$radio-borde: 5px;


$punto-de-ruptura-pequeno: 768px;
$punto-de-ruptura-mediano: 992px;
$punto-de-ruptura-grande: 1200px;

